*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:gray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

#buttonsGrp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#buttonsGrp button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    place-content: center;
}

#buttonsGrp button:hover{
    background-color: skyblue;
}

#carCanvas{
    background:#ccccccee;
}

#annCanvas{
    background:#000;
}